* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
body {
  height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  padding: 2rem;
  background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.name-game {
  font-size: 3.2em;
  font-weight: 700;
  color: red;
}
.attemps {
  font-size: 2em;
  font-weight: 700;
  color: red;
}
.wrapper {
  margin: 0 auto;
  width: 50vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(15vw, auto);
  position: relative;
  top: 0;

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    background-image: url("../rssticky/rss-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.footer {
  padding: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  .list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .item {
      margin: 0 1rem;
      .year {
        font-size: 3em;
      }
      .github-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        object {
          width: 5rem;
        }
      }
    }
  }
}

//**Animation**//
.box:hover {
  animation: bounce infinite 1s;
  cursor: pointer;
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.clicked {
  animation: animName 2s linear;
}

.loadingCards {
  animation: animName 1s infinite linear;
}
@keyframes animName {
  0% {
    transform: rotated(0deg);
  }
  100% {
    transform: rotateY(160deg);
  }
}

.disabled {
  pointer-events: none;
}
//**-----------------------**//
.popup {
  padding: 1em;
  margin: 0 auto;
  width: max-content;
  position: fixed;
  top: 30%;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  border: none;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  .modal-text{
    order: 1;
    font-size: 3rem;
    font-weight: 700;
    color: red;
    text-align: center;
  }
  .container {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    button {
      padding: 0.5em;
    }
    .start-game,
    .modal-close {
      font-size: 2rem;
      cursor: pointer;
      border-radius: 10px;
      color: white;
      transition: 0.2s linear;
      background: #020914;
      position: relative;
      top: 0;
      left: 0;
    }
    .start-game:hover,
    .modal-close:hover {
      box-shadow:
        2px 2px white,
        4px 4px #fc63b5;
      top: -4px;
      left: -4px;
    }
  }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #545454ba;
    background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green);
    opacity: 0.75;
    z-index: -1;
  }
}
